[core]
    editor = /usr/bin/emacs -nw
    excludesfile = /home/rubenrua/.gitignore
[color]
    ui = auto
[user]
    email = rubenrua@gmail.com
    name = rubenrua
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
    rdiff = diff --relative
    s = status --short
    st = status
    stat = status
    co = checkout
    follow = "!sh -c 'cd ${GIT_PREFIX:-.} && git log --topo-order -u -L $2,${3:-$2}:"$1"'" -
    git = !exec git
[push]
    default = simple
[pull]
    rebase = true
[diff]
    noprefix = true
    algorithm = histogram
[protocol "file"]
    allow = always
[init]
    defaultBranch = main
